  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.wrapper {
    background-color: #242635;
    color: #FFFFFF;
}


 nav {
     height: 6.25em;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .brand {
     width: 8.75em;
     margin-left: 1.25em;
 }

.bar-btn{
    font-size: 1.5625em;
    color: #FFFFFF;
    margin-right: 1.25rem;
    cursor: pointer;
} 

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0;
    top: 6.25em;
    background: #313449;
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 1.875em;
    margin: 3.125em;
    transition: all .5s;
}

.nav-menu li a {
    color: #FFFFFF;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color: #34b0be;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

@media screen and (min-width: 768px) {
    .brand{
        margin-left: 50px;
    }
    nav{
        height: 100;
    }
    .bar-btn{
        display: none;
    }
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a {
        font-size: 12px;
    }
    
}




.main {
    background-color: #242635;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.main img{
    margin-left: 1.25em;
    margin-right: 1.25em;
    left: 6.25em;
    height: 31.25em;  
    border-radius: 50%;
}

h1{
    font-size: 3em;
}

span {
    color: #34b0be;
}

.descargar-hv{
    padding: 0.625em 1.25em;
    background-color: #34b0be;
    border: none;
    border-radius: 1.25em;
    margin-top: 0.625em;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px #34b0be;
    transform: scale(1);
    transition: all 0.4s;
}

.descargar-hv:hover{
   background-color: #FFFFFF;
   box-shadow: none;
   transform: scale(1.1);
   transition: all 0.4s;   
}

.info-content img {
    display: flex;
    background-color: #FFFFFF;
    margin-top: 0.625em;
    margin-left: 0.625em;
    margin-right: 0.625em;
    left: 0.0625em;
    height: 1.875em;  
    border-radius: 20%;
    transform: scale(1);
    transition: all 0.3s;
}
.info-content img:hover{
    transform: scale(1.5);
    transition: all 0.3s;   
}
.icon {
    display: flex;
}

.media-social {
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    text-align: center;

}
.media {
    
    margin-right: 1.25rem;
    margin-top: 0.9375rem;
    transform: scale(1);
    transition: all 1s;
}
.media:hover {
    transform: scale(1.1);
    transition: all 1s;
}


.about {
    align-items: center;
    background-color: #242635;
    justify-content: center;
    text-align: center;
}




.about-info h2 {
    font-size: 2em;
    color: #FFFFFF;
}

.divider {
    height: 0.25em;
    width: 6.25em;
    background-color: #34b0be; 
    margin-top: 0.3125em;
    margin-bottom: 0.625em;
    justify-content: center;
    text-align: center;
    
}

.about p {
    font-size: 2em;
    margin-bottom: 1em;
}

/*Prueba */

  /*Medium devices tablets*/
  
    .d-flex-md {
        display: flex;
      
      text-align: center;
      justify-content: center;
    }
    .col-md-3 {
      display: flex;
      width: 30%;
      padding: 1rem;
          
    }
   
  section {
    padding: 5%;    
  }
  /*Componentes*/

   /*Clase generica*/
   .bg-light {
    background: #242635;
    text-align: center;
    justify-content: center;
  }

  .card {
    
    background: #FFFFFF;
    transform: scale(1);
    transition: all 1s;
    border: solid 0em;
    height: 100%;
    width: 150%;
    margin-top: 3.125em;
    border-radius: 10%;
   
  }
  
  .text {
      margin-bottom: 1.25em;
      margin-top: 3.125em;
  }



  .card:hover {
  transform: scale(1.1);
    transition: all 1s;
  }

 
  .briefcase {
    background: #242635;
    text-align: center;
    justify-content: center;
  }  

  .slider{
      margin-top: 3.125em;
      width: 95%;
      margin: aouto;
      overflow: hidden;
  }

  .slider ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: cambio 20s infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in;
  }

  .slider li {
      width: 100%;
      list-style: none;
  }

  .slider img {
      width: 100%;
  }

  @keyframes cambio {
      0% {margin-left: 0;}
      20% {margin-left: 0;}

      25% {margin-left: -100%;}
      45% {margin-left: -100%;}

      50% {margin-left: -200%;}
      70% {margin-left: -200%;}

      75% {margin-left: -300%;}
      100% {margin-left: -300%;}
  }

  .contact {
      background-color: #242635;
     
      text-align: center;
      justify-content: center;
  }
  .general{
      display: flex;
      text-align: center;
      justify-content: center;
  }

  .square {
      background-color: #FFFFFF;
      transform: scale(1);
      transition: all 1s;
      border: solid 0em;
      height: 5%;
      width: 25%;
      padding: 5%;
      bottom: 5%; 
      margin-top: 3.75em;
      margin-left: 2.5em;
      margin-right: 2.5em;
      border-radius: 10%;
  }

.square:hover {
    transform: scale(1.5);
    transition: all 1s;
    }
 

.footer {
    background-color: #313449;
    text-align: center;
    justify-content: center;
}

.skills {
    background: #242635;
    text-align: center;
    justify-content: center;
        display: flex;
}

.bar-1 {
    height: 0.25em;
    width: 6.25em;
    background-color: #34b0be; 
    margin-top: 0.3125em;
    margin-bottom: 0.625em;
}

.bar-2 {
    height: 0.25em;
    width: 12.5em;
    background-color: #34b0be; 
    margin-top: 0.3125em;
    margin-bottom: 0.625em;
}

.bar-3 {
    height: 0.25em;
    width: 9.375em;
    background-color: #34b0be; 
    margin-top: 0.3125em;
    margin-bottom: 0.625em;
}


.box {
   
    border: solid 1%;
    background-color: #242635;
    height: 25%;
    width: 40%;
    border-radius: 5%;
}

.box-1 {
   
    border: solid 1%;
    background-color: #242635;
    height: 10%;
    width: 100%;
    padding: 1%;
    bottom: 5%;
    border-radius: 5%;
}
.box-2 {
   
    border: solid 1%;
    background-color: #242635;
    height: 10%;
    width: 100%;
    padding: 1%;
    bottom: 5%;
    border-radius: 5%;
}
.box-3 {
   
    border: solid 1%;
    background-color: #242635;
    height: 10%;
    width: 100%;
    padding: 1%;
    bottom: 5%;
    border-radius: 5%;
}

@media (max-width: 1200px){
    body {
        font-size: 14px;
    }

}

@media (max-width: 992px){
    .square {
        font-size: 1em;
        width: 40%;       
    } 

    .media {
        left: 7em;
        height: 7em;
    }
      
    .about-info h1 {
        font-size: 2em;
    }
        
    .about p {
        font-size: 1em;
        margin-bottom: 1em;
    }


    .col-md-3 {
      display: flex;
      width: 25%;
      padding: 0.8rem;   
    }
   

  .card {
    font-size: 0.7rem;
    height: 90%;
    width: 140%;
   
  }
   .main img {
       display: none;
   }
}

@media (max-width: 768px){
    .general{
        text-align: center;
        justify-content: center;
    }

    .square {
        font-size: 0.5em;
        width: 40%;       
    }   
    .media {
        left: 5em;
        height: 5em;
    } 

    .col-md-3 {
        display: flex;
        width: 20%;
        padding: 0.6rem;   
      }
     
  
    .card {
      font-size: 0.6rem;
      height: 90%;
      width: 140%;
     
    }

    h1 {
        font-size: 1.5em;
    }

}

@media (max-width: 576px){
    .square {
        font-size: 0.2em;
        width: 40%;       
    }  
    .footer{
        font-size: 0.5em;
    }
    
    .media {
        left: 3em;
        height: 3em;
    } 

    .d-flex-md {
        display: flex;
        justify-items: center;
    }

    .col-md-3 {
        display: flex;
        width: 15%;
        padding: 0.4rem;
        justify-content: center;   
      }
    .imag {
        left: 3em;
        height: 3em;
    }
  
    .card {
      font-size: 0.4rem;
      height: 70%;
      width: 120%;
     
    }
   

    .skills h2 {
        font-size: 1em;
    }
    .box h4 {
        font-size: 0.5em;
    }

    h1 {
        font-size: 1em;
    }
}